* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_desktop ul {
    display: flex;
    gap: 30px;          
    list-style: none;
 } 

.menu_desktop ul li a {
    color: #fff;      
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;   }   

.menu_desktop ul li a:hover {
    color: #f526ea;        
}

img {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #f526ea;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #000;
    transition: 0.3s ease;  
}


header .btn-contato button:hover {
    transform: scale(1.08);            
    box-shadow: 0 0 12px #f526ea;      
    background-color: #ff5bf4;        
}



section.topo-site {
    padding: 40px 4%;
}

section.topo-site .flex {
    display: block;
}

.txt-topo-site {
    text-align: left;
}

.topo-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-site h1 span {
    color: #f526ea;
}

.topo-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
    text-align: justify;
    line-height: 28px;
}

.topo-site .txt-topo-site h3 {
    color: #f526ea;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: justify;
}

.social {
    margin-top: 10px;       
    width: 100%;            
    display: flex;
    justify-content: center; 
    gap: 20px;              
}

.social a {
    color: #fff;
    font-size: 30px;
    transition: 0.3s;
}

.social a:hover {
    color: #f526ea;
}
