*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}
.interface{
max-width: 1280px;
margin: 0 auto;
}
.flex {
    display: flex;
}


header{
    padding: 40px 4%;
}
    header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
color: #f526ea;
text-decoration: none;
}

header nav ul{
    list-style-type: none;
    }
    header nav ul li{
        display: inline-block;
        padding: 0 50px;
    }

    
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
header .btn-contato button{
    padding: 10px 40px;
    font: size 18px; 
    font-weight: 600;
background-color: #f526ea;
border: 0;
border-radius: 30px;
}
section.topo-site{
    align-items: center;
    justify-content: space-between;
}
